body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("https://assets.ccbp.in/frontend/intermediate-rwd/nature-gallery-bg.png");
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;    
}

button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}



.product-card {
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px red;
}

.shrink img {
    transition: 1s ease;
    }
    
    .shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

.grow button{
        transition: 1s ease;
        }
        
        .grow button:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
        }



/* Responsive styles */
@media only screen and (max-width: 767px) {
    .product-card {
        width: 100%; /* Make cards take full width on small screens */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
        gap: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns for desktops */
        gap: 20px;
    }
}