.image-el{
  width: 100%;
  
}



.video-title {
  margin-top: 0px;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 12px;
}

.video-author,
.video-stats{
  font-weight: 300;
  font-size: 15px;
  color:rgb(96,96,96);
}

.video-author{
  margin-bottom: 4px;
}



.creater-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.final-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width:750px){
  .final-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:751px) and (max-width:999px) {
  .final-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1000px){
  .final-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}

.creater-pic{
  vertical-align: top;
}

.profile-pic{
  width: 40px;
  border-radius: 50px;
}



.thumnail-el{
  
  margin-bottom: 12px;
  position: relative;
}

.vedio-time{
  font-family: Roboto,Arial;

  position: absolute;
  background-color: black;
  font-size: 12px;
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  color:white;
  bottom: 8px;
  right: 5px;
  border-radius: 2px;
}